{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "airbnb-base",
        "plugin:jsx-a11y/recommended",
        "react"
    ],
    "plugins": [
        "prettier",
        "import",
        "jsx-a11y",
        "react"
    ],
    "globals": {
        "document": true,
        "window": true,
        "$": true
    },
    "rules": {
        "indent": 0,
        "no-tabs": 0,
        "no-underscore-dangle": 0,
        "space-before-function-paren": 0,
        "quote-props": 0,
        "comma-dangle": 0,
        "operator-linebreak": 0,
        "react/jsx-wrap-multilines": 0,
        "react/forbid-prop-types": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "prettier/prettier": ["error", {
            "singleQuote": true,
            "trailingComma": "all",
            "bracketSpacing": true,
            "jsxBracketSameLine": false,
            "parser": "flow"
        }],
    }
}
